<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies - Max Hack</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="hobbies.html">Hobbies</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li class="ski-icon"><i class="fas fa-snowflake"></i></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <main>
        <div class="content-container">
            <h2>My Hobbies</h2>
            <p>Some of my favorite hobbies include skiing, mountain biking, and hanging out with friends.</p>

            <div class="hobby-cards">
                <div class="card">
                    <img src="../resources/img/skiing.jpeg" alt="Skiing">
                    <h3>Skiing</h3>
                    <p>This is my escape from the stresses of everyday life and a great way to spend time with your
                        favorite people</p>
                </div>

                <div class="card">
                    <img src="../resources/img/MTB.jpeg" alt="Mountain Biking">
                    <h3>Mountain Biking</h3>
                    <p>Mountain biking is an exhilarating adventure that constantly challenges me to push my limits. I
                        worked at a summer camp teaching young kids to mountain bike and I also love to do it in my free
                        time</p>
                </div>

                <div class="card">
                    <img src="../resources/img/friends.jpeg" alt="Hanging Out">
                    <h3>Hanging Out with Friends</h3>
                    <p>Whether it's grabbing a bite to eat, going to the movies, or just chilling at home, spending time
                        with friends is always a blast.</p>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <ul>
            <li><a href="https://www.instagram.com/maxshredder13/" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li><a href="https://www.linkedin.com/in/maxryanhack/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
            <li><a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a></li>
        </ul>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>